<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if mode == :new %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :item_title %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :item_description %>
    </div>

    <div class="field">
      <%= form.label :threshold %>
      <%= form.number_field :threshold, id: :item_threshold, min: 1 %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password, id: :item_password %>
    </div>
  <% elsif mode == :edit %>
    <div class="not-field">
      Title: <%= @item.title %>
    </div>

    <div class="not-field">
      Description: <%= @item.description %>
    </div>

    <div class="not-field">
      Threshold: <%= @item.threshold %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public, id: :item_public %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.check_box :end_date_enabled, id: :item_end_date_enabled, checked: !(@item.end_date.nil?) %>
    <div id='end_date_select_container'>
      <%= form.date_select :end_date, id: :end_date, default: 1.year.from_now %>
    </div>
    <script type='text/javascript'>
      var endDateCheckbox = document.getElementById('item_end_date_enabled');
      var endDateContainer = document.getElementById('end_date_select_container');
      if (!endDateCheckbox.checked) {
        endDateContainer.className = 'invis';
      }
      endDateCheckbox.addEventListener('change', function () {
        if (this.checked) {
          endDateContainer.className = '';
        } else {  
          endDateContainer.className = 'invis';
        }
      })
    </script>
  </div>

  <div class="field">
    <%= form.label :show_threshold %>
    <%= form.check_box :show_threshold, id: :item_show_threshold %>
  </div>

  <div class="field">
    <%= form.label :show_verified_signups %>
    <%= form.check_box :show_verified_signups, id: :item_show_verified_signups %>
  </div>

  <div class="field">
    <%= form.label :success_msg %>
    <%= form.text_area :success_msg, id: :item_success_msg %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
