<h1>Stats</h1>
This item has <%= @item.verified_signups.count %> verified signups.

<h1>Edit</h1>

<%= render 'form', item: @item, mode: :edit %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
